name = "sub-store-workers"
main = "dist/worker.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# KV Namespace bindings
# For production: run `wrangler kv namespace create SUB_STORE_DATA` and fill in the id
[[kv_namespaces]]
binding = "SUB_STORE_DATA"
id = "6774c1ec006543949c73b18b2422c28d"

# 定时同步（每天 23:55 执行）
[triggers]
crons = ["55 15 * * *"]

[vars]
# SUB_STORE_FRONTEND_BACKEND_PATH = "/你的密码"
# SUB_STORE_PUSH_SERVICE = "https://api.day.app/你的BarkKey/[推送标题]/[推送内容]"
SUB_STORE_BACKEND_CUSTOM_NAME = "Workers"
SUB_STORE_BACKEND_CUSTOM_ICON = "https://cdn.jsdelivr.net/gh/Yu9191/sub-store-workers@main/png/cloudflare.png"
